*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: roboto regular, sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:#010b42
}
.logo{
    width: 20%;
    justify-content: center;
    align-items: center;
}
.box-icons{
    width: 33%;
    margin: 0%;
    padding: 0;
}
.navegar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;

}
a{
    color: white;
}
.agendar{
    width: 33%;
    justify-self: right;
    margin: 0%;
}
.painel{

    background-color: #041259;
    background-position: center; /* Alinha a imagem ao centro do elemento */
    background-size: cover; /* Redimensiona a imagem para cobrir todo o elemento */
    
    
}